.content-wrapper .content-heading {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.1;
    color: #929292;
    margin: -15px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: 400;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
}
 
.bg-primary-dark {
    background-color: #2f80e7;
    color: #fff!important;
}
.bg-primary {
    background-color: #5d9cec;
    color: #fff!important;
}


.bg-purple-dark {
	background-color: #564aa3;
    color: #fff!important;
}
.bg-purple {
    background-color: #7266ba;
    color: #fff!important;
}


.bg-green-dark {
    background-color: #2b957a;
    color: #fff!important;
}
.bg-green {
    background-color: #37bc9b;
    color: #fff!important;
}