.content-wrapper .content-heading {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.1;
    color: #929292;
    margin: -15px;
    margin-bottom: 20px;
    padding: 15px;
    font-weight: 400;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
}
 
/* cores dos avissos */
.bg-primary-dark {
    background-color: #2f80e7;
    color: #fff!important;
}
.bg-primary {
    background-color: #5d9cec;
    color: #fff!important;
}


.bg-purple-dark {
	background-color: #564aa3;
    color: #fff!important;
}
.bg-purple {
    background-color: #7266ba;
    color: #fff!important;
}


.bg-green-dark {
    background-color: #2b957a;
    color: #fff!important;
}
.bg-green {
    background-color: #37bc9b;
    color: #fff!important;
}

/* fundo do dashboard */
.content-wrapper {
    padding: 15px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,.15);
    margin-top: -1px;
}

/* tratar imagem */
.thumb32 {
    width: 32px!important;
    height: 32px!important;
}
.circle {
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 500px;
    margin: 0 .5em;
    background-color: #ddd;
    vertical-align: baseline;
    border: 2px solid transparent;
}

/* div basicLayout */
.wrapper {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100%;
    overflow-x: hidden;
}
